.mainpage {
  width: 75%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd;
}

.titlename {
  background-color: lightgrey;
  width: 60%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 5px;
}

.mendela {
  display: block;
  margin: auto;
  max-width: 50%;
  max-height: 50%;
  padding-top: 20px;
}

.timeline {
  text-align: left;
  width: 60%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 5px;
  padding-bottom: 10px;
  background-color: #dddddd;
  line-height: 1.6;
}

.tablequotes {
  text-align: center;
  width: 60%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 5px;
  background-color: #dddddd;
}

body {
  background-color: #494949;
}

div>h1,
h2 {
  background-color: lightgrey;
  text-align: center;
}

div>h3,
h1 {
  text-align: center;
  width: 50%;
  margin: auto;
}

ul {
  padding-left: 0px;
}

li  {
  list-style-type: none;
}
