

body {
  background-color: #494949;
}

.mainpage {
  width: 75%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd;
}

.titlename {
  background-color: lightgrey;
  width: 60%;
  margin: auto;
  box-shadow: lightgrey 1px 1px 5px;
}

#img-div {
  display: block;
  margin: 20px auto;
  max-width: 70%;
  padding-top: 20px;
}

#image{
  display: block;
  margin: auto;
  max-width: inherit;
}

.timeline {
  text-align: left;
  width: 80%;
  margin: auto;
  box-shadow: grey 1px 1px 5px;
  padding: 15px 15px;
  background-color: #dddddd;
  line-height: 1.6;
}

div>h1,
h2 {
  background-color: lightgrey;
  text-align: center;
}

div>h3,
h1 {
  text-align: center;
  width: 50%;
  margin: auto;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.tablequotes {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  box-shadow: grey 1px 1px 5px;
  background-color: #dddddd;
  padding: 15px 15px;
